<plugin id="sight::module::filter::image" library="true" >

    <extension implements="::sight::service::extension::Factory">
         <type>sight::service::IOperator</type>
         <service>sight::module::filter::image::SImageExtruder</service>
         <object key="meshes">sight::data::ModelSeries</object>
         <object key="image">sight::data::Image</object>
         <object key="extrudedImage">sight::data::Image</object>
         <desc>This service sets all voxels of an image that are inside meshes to the lowest value of the image type.</desc>
    </extension>

    <extension implements="::sight::service::extension::Factory">
         <type>sight::service::IOperator</type>
         <service>sight::module::filter::image::SThreshold</service>
         <object key="source">sight::data::Object</object>
         <object key="target">sight::data::Object</object>
         <desc>Apply a threshold on an image.</desc>
    </extension>

</plugin>
