<plugin id="sight::module::geometry::generator" library="true" >

    <extension implements="::sight::service::extension::Factory">
         <type>sight::service::IGenerator</type>
         <service>sight::module::geometry::generator::SUltrasoundMesh</service>
         <object key="mesh">sight::data::Mesh</object>
         <desc>Generate the mesh used to display the ultrasound image.</desc>
    </extension>
</plugin>
