<plugin id="activity_viz_3d" >

    <requirement id="sight::module::service" />
    <requirement id="sight::module::ui::qt" />
    <requirement id="sight::module::activity" />
    <requirement id="sight::module::viz::scene3d" />
    <requirement id="sight::module::viz::scene3dQt" />

    <xi:include href="configurations/3DSimpleConfig.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="sight::activity::extension::Activity">
        <id>3DVisualization</id>
        <title>3D visualization</title>
        <desc>Display a medical image in 3D.</desc>
        <icon>sight::module::ui::icons/icon-3D.png</icon>
        <requirements>
            <requirement name="modelSeries" type="sight::data::ModelSeries" minOccurs="1" maxOccurs="1">
                <desc>Image to display.</desc>
            </requirement>
            <requirement name="landmarks" type="sight::data::Landmarks" minOccurs="0" maxOccurs="0">
                <desc>Landmarks to display.</desc>
            </requirement>
        </requirements>
        <builder>::sight::activity::builder::ActivitySeriesInitData</builder>
        <appConfig id="3DVisualization">
            <parameters>
                <parameter replace="modelSeries" by="@values.modelSeries" />
                <parameter replace="landmarks" by="@values.landmarks" />
            </parameters>
        </appConfig>
    </extension>
</plugin>
